html {
    background: linear-gradient(316deg, #2771bf, #393ce6, #574de3, #4792db);
    background-size: 800% 800%;
    min-height: 100%;

    -webkit-animation: PondColor 56s ease infinite;
    -moz-animation: PondColor 56s ease infinite;
    animation: PondColor 56s ease infinite;
}

body {
    margin: 0
}

#top-bar-image {
    width: 100%
}

.goose.flipped {
    animation-name            : swim-flipped;
}

.goose {
    position: absolute;
    animation-name            : swim;
    animation-iteration-count : infinite;
    animation-timing-function : cubic-bezier(.47,.19,.51,.8);
}

.goose-container {
    width: 100%;
    height: 130px;
}

@keyframes swim {
    from {
        left: 80%;
        transform: scaleX(1);
    }
    47% {
        transform: scaleX(1);
    }
    50% {
        left: 5%;
        transform: scaleX(-1);
    }
    97% {
        transform: scaleX(-1);
    }
    to {
        left: 80%;
        transform: scaleX(1);
    }
}

@keyframes swim-flipped {
    from {
        left: 5%;
        transform: scaleX(-1);
    }
    47% {
        transform: scaleX(-1);
    }
    50% {
        left: 80%;
        transform: scaleX(1);
    }
    97% {
        transform: scaleX(1);
    }
    to {
        left: 5%;
        transform: scaleX(-1);
    }
}

.css-selector {

}

@-webkit-keyframes PondColor {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes PondColor {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes PondColor {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}