{% load static %}
{% load django_simple_bulma %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Metatags -->
        <title>{% block title %}Honk{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="description" content="The Goose Pond">
        <meta name="keywords" content="Goose, Honk, Pond, Therapy">
        <meta name="author" content="Citrus gang">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <meta property="og:type" content="website">
        <meta property="og:title" content="Goose Pond" />
        <meta property="og:description" content="The Goose Pond" />
        <meta property="og:url" content="https://goosepond.wtf" />
        <meta property="og:image" content="{% static 'images/favicon/android-chrome-192x192.png' %}" />

        <!-- Favicons for different platforms -->
        <link rel="icon" type="image/x-icon" href="{% static '/images/favicon/favicon.ico' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static '/images/favicon/site.webmanifest' %}">

        <!-- Extension imports -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'js/external/htmx.min.js' %}" defer></script>
        <script src="{% static 'js/utils.js' %}"></script>
        {% bulma %}
        {% font_awesome %}

        <!-- Template specific head content -->
        {% block head %}
        {% endblock %}

    </head>
    
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% block body %}{% endblock body %}
    </body>

</html>