{% extends 'base/base.html' %}
{% load static %}

{% block title %}The Pond{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
{% endblock head %}

{% block body %}
    <img id="top-bar-image" src="{% static 'images/top_bar.png' %}">
    
    <!-- THE GEESE -->
    {% for goose in geese %}
        <div class="goose-container">
            <div 
              {% if goose.flipped %}
                class="goose flipped"
              {% else %}
                class="goose"
              {% endif %}
            >
                <a href="{{ goose.url }}">
                    <img src="{% static goose.image %}">
                </a> 
            </div>
        </div>
    {% endfor %}

{% endblock body %}