{% load static %}
{% load django_simple_bulma %}
<html>
    <head>
        <title>James</title>
        <link rel="stylesheet" href="{% static 'css/therapy.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'js/therapy.js' %}"></script>
        {% bulma %}
        {% font_awesome %}
    </head>
    
    <body>
        <audio id="therapy-enter">
            <source src="{% static '/sounds/goose_knocking_shit_over.ogg' %}" type="audio/ogg">
        </audio>
        <img id="waiting" class="office" usemap="#door-map" src="{% static '/images/therapy_office_waiting.png' %}">
        <img id="session" class="office" usemap="#door-map" src="{% static '/images/therapy_office_in_session.png' %}">
        <img id="leaving" class="office" usemap="#door-map" src="{% static '/images/therapy_office_in_session_door_open.png' %}">
        <map id="door-map">
            <area id="door-area" href="#" coords="713,103,899,363" shape="rect">
        </map>
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">
                <!--This is the chatbox-->
                <article class="message chatbox">
                    <div class="message-body">
                    
                    </div>
                </article>

                <!--This is the input for the chat-->
                <div class="control has-icons-left has-icons-right">
                    <input disabled class="input is-medium" type="text" placeholder="Describe your mental issues">
                    <span class="icon is-left">
                        <i class="fas fa-heart-broken"></i>
                    </span>
                  </div>
            </div>
        </div>
    </body>





</html>